<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../resources/css/style.css">
    <title>Perfil de Usuario</title>

</head>
<body>

    <div id="container-white"> 
        
        <div id="container-perfil">
        
                <h1 id="titulo-principal">Perfil de usuario</h1>
                <div id="container-foto">

                    <img src="../resources/img/Ejemplo.png" alt="">
                </div>

        </div>
        
        <div id="container-form">
            <form action="">
                
                <label for="nombre-completo" id="nombre">Nombre Completo: </label>
                <input type="text" id="nombre-completo" name="nombre-completo" value="Alyerli"  class="input-field" disabled>
                <br>
                
                <label for="correo" id="correo-electronico">Correo Electronico: </label>
                <input type="email" name="correo" id="correo"  value="alyerli.clase@gmail.com" pattern=".+@globex\.com" class="input-field" disabled><br>

                <label for="usuario" id="usuario1">Usuario: </label>
                <input type="text" name="usuario" id="usuario" value="Alyerli" class="input-field" disabled><br>

                <label for="contra" id="contrase">Contraseña: </label>
                <input type="text" name="contra" id="contra" value="123456789" class="input-field" disabled><br>

                <label for="rol" id="rol1">Rol: </label>
                <input type="text" id="rol" name="roll" value="Master" class="input-field" disabled><br>

                <a href="editar.html"><input type="button"  type="submit" value="Editar" id="boton1" class="boton-editar"></a>
                <a href="eliminar.html"><input type="button" type="submit" value="Eliminar" id="boton2" class="boton-editar"></a>
                

               <!-- <button id="boton1" class="boton-editar">Editar</button>
                <button id="boton2" class="boton-editar">Eliminar</button>
                <a href="#"><input type="button" value="Ir"></a> -->

            </form>
        </div>
    </div>
    
</body>
</html>
