<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/dd41032667.js" crossorigin="anonymous"></script> <!--Esto es para utilizar los iconos-->
    <link rel="stylesheet" href="/resources/css/stylelogin.css"><!--Esto es CSS-->
    <title>Ventas de Huevos</title>

</head>
<body>

    
 <div id="cuadro-oscuro"></div>
 <div id="cuadro-claro">
     <div id ="formato">
         <div id="logo"></div><!--Logo-->
    <h1>Iniciar Sesión</h1>
    <form action="" class="nuevo">

        <div class="input-icons">
            <i class="fa fa-user icon"></i>
           <input class="input-field"  placeholder="Usuario" type="text" required><div class="input-icons">
         </div>
        
        <div class="input-icons">
            <i class="fa-solid fa-lock icon"></i>
           <input class="input-field" type="password" placeholder="Contraseña" required>
        </div>

        <a href="#"  id ="contra-re"style="text-decoration: none">Recuperar contraseña</a>
        <input id="boton" type="submit" value="Entrar">
        <div id="vaca-foto" class="nuevo">
            <img src="/resources/img/Rectangle13.png" alt="" id="vaca">
        </div>
    </form>
</div> 

</div> 
    
</body>
</html>