html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-style: italic;
  background-color: #d9d9d9;
}

body {
  display: flex;
  align-items: center;

  justify-content: space-around;
}

#container-white {
  flex-direction: column;

  width: 571px;
  height: 445px;

  background: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

#container-perfil {
  background: #cb232c;
  border-radius: 40px 40px 97px 106px;
  width: 571px;
  height: 153.17px;
}

#container-foto {
  width: 249.61px;
  height: 148.5px;
  background: #ebebeb;
  border-radius: 40px 40px 97px 106px;
  margin-left: 320.75px;
  margin-top: -100px;
}

img {
  margin-left: 88px;
  margin-top: 28px;
  width: 88px;
  width: 95px;
  height: 95px;
}

#container-form {
  margin-left: 39px;
  margin-top: 22.8px;
}

.input-field {
}

#titulo-principal {
  margin-left: 52.75px;
  padding-top: 60.67px;
}

.boton-editar {
  width: 52px;
  height: 26px;

  font-weight: 800;
  font-size: 16px;
  line-height: 19px;

  /* */
  margin-top: -10px;
  box-sizing: border-box;

  width: 111px;
  height: 35px;

  border-radius: 14px;
}
h1 {
  display: block;

  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  color: #f5f5f5;
}

label {
  color: rgba(0, 0, 0, 0.71);
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

#nombre {
  width: 173px;
  height: 26px;
}

#correo-electronico {
  width: 173px;
  height: 26px;
}

#usuario1 {
  width: 94px;
  height: 26px;
}

#contrase {
  width: 173px;
  height: 26px;
}

#rol1 {
  width: 57px;
  height: 26px;
}
/*box */
#nombre-completo {
  margin-left: 4px;
  padding-left: 22px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #78756e;
  margin-bottom: 6px;
  box-sizing: border-box;
  width: 269px;
  height: 34px;

  background: rgba(245, 245, 245, 0.76);
  border: 1px solid #f7991c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
}
#correo {
  margin-left: 4px;
  padding-left: 22px;
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #78756e;
  box-sizing: border-box;
  width: 267px;
  height: 34px;

  background: rgba(245, 245, 245, 0.76);
  border: 1px solid #f7991c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
}

#usuario {
  margin-left: 4px;
  padding-left: 22px;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #78756e;
  box-sizing: border-box;
  width: 365px;
  height: 34px;

  background: rgba(245, 245, 245, 0.76);
  border: 1px solid #f7991c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
}

#contra {
  margin-left: 4px;
  width: 127px;
  height: 26px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #78756e;
  padding-left: 22px;
  margin-bottom: 6px;
  box-sizing: border-box;
  width: 333px;
  height: 34px;

  background: rgba(245, 245, 245, 0.76);
  border: 1px solid #f7991c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
}

#rol {
  margin-left: 4px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #78756e;
  box-sizing: border-box;
  width: 166px;
  height: 34px;
  padding-left: 22px;

  background: rgba(245, 245, 245, 0.76);
  border: 1px solid #f7991c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
}

/*box */
#boton1 {
  margin-left: 240px;
  background: #f7991c;
  border: 1px solid #cb232c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #020202;
}

#boton2 {
  margin-left: 16px;
  background: #cb232c;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #f5f5f5;
}
/* boton */
#boton1:hover {
  background: #ebebeb;
  color: #000000;
}
#boton1:active {
  background: gray;
}

#boton2:hover {
  background: #ebebeb;
  color: #000000;
}
#boton2:active {
  background: gray;
}
/* boton */

#titulo-secundario {
  margin-top: 30px;
  margin-left: 125px;
  margin-bottom: 29px;
}

#esto-es-solo-del {
  margin-left: -70px;
}
