html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-style: italic;
  background-color: #d9d9d9;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

#container-white {
  flex-direction: column;

  width: 571px;
  height: 445px;

  background: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

#container-perfil {
  background: #82954b;
  border-radius: 40px 40px 97px 106px;
  width: 571px;
  height: 153.17px;
}

#container-foto {
  width: 249.61px;
  height: 148.5px;
  background: #d8cca3;
  border-radius: 40px 40px 97px 106px;
  margin-left: 320.75px;
  margin-top: -100px;
}

img {
  margin-left: 92px;
  margin-top: 28px;
  width: 100px;
  height: 99px;

  /*Esto es para cuando se agregen images, habilitar esto */

  /*
  
  border: 3px solid rgba(0, 0, 0, 0.71);
   */
}

#container-form {
  text-align: justify;
  margin-left: 39px;
  margin-top: 22.8px;
}

.input-field {
  box-sizing: border-box;
  height: 34px;
  background: rgba(245, 245, 245, 0.76);
  border: 1px solid #b3b722;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
}

#titulo-principal {
  margin-left: 52.75px;
  padding-top: 60.67px;
}

.boton-editar {
  width: 52px;
  height: 26px;

  font-weight: 800;
  font-size: 16px;
  line-height: 19px;

  align-items: center;

  color: #2a3b0c;
  /* */
  margin-top: -10px;
  box-sizing: border-box;

  width: 111px;
  height: 35px;

  background: rgba(98, 131, 1, 0.67);
  border: 1px solid #628301;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}
h1 {
  display: block;

  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
}

label {
  color: rgba(0, 0, 0, 0.71);
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

#nombre {
  width: 173px;
  height: 26px;
}

#correo-electronico {
  width: 173px;
  height: 26px;
}

#usuario1 {
  width: 94px;
  height: 26px;
}

#contrase {
  width: 173px;
  height: 26px;
}

#rol1 {
  width: 57px;
  height: 26px;
}
#nombre-completo {
  padding-left: 22px;
  width: 289px;
  height: 26px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #78756e;
  margin-bottom: 6px;
  box-sizing: border-box;
  width: 269px;
  height: 34px;

  background: rgba(245, 245, 245, 0.76);
  border: 1px solid #b3b722;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
}
#correo {
  padding-left: 22px;
  margin-bottom: 6px;
  width: 289px;
  height: 26px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #78756e;
  box-sizing: border-box;
  width: 269px;
  height: 34px;

  background: rgba(245, 245, 245, 0.76);
  border: 1px solid #b3b722;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
}

#usuario {
  padding-left: 22px;
  margin-bottom: 6px;
  width: 100px;
  height: 26px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #78756e;
  box-sizing: border-box;
  width: 349px;
  height: 34px;

  background: rgba(245, 245, 245, 0.76);
  border: 1px solid #b3b722;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
}

#contra {
  width: 127px;
  height: 26px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #78756e;
  padding-left: 22px;
  margin-bottom: 6px;
  box-sizing: border-box;
  width: 322px;
  height: 34px;

  background: rgba(245, 245, 245, 0.76);
  border: 1px solid #b3b722;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
}

#rol {
  width: 127px;
  height: 26px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #78756e;
  box-sizing: border-box;
  width: 166px;
  height: 34px;
  background: rgba(245, 245, 245, 0.76);
  border: 1px solid #b3b722;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
  padding-left: 22px;
}
#boton1 {
  margin-left: 240px;
}

#boton2 {
  margin-left: 16px;
}
